<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="validateSpinner else barra">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" style="display: flex; justify-content: center">
        <div [style.background-image]="'url('+img+')'" class="avatarNival avatarDiv">
          <div [style.background-image]="'url('+perfil+')'" class="avatarNival avatarDiv">
          </div>
        </div>
        <a class="secondaryNival">
          <ion-icon class="fa-nival" name="image-outline" (click)="openPhoto()"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <div>
          <h3 id="font-p">{{nombre+' '+ apellido}}</h3>
          <p id="fontNival-p">{{correo}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="bd-callout bd-callout-default">
          <h3>
            <ion-icon class="fa-nival-bottom" name="person-sharp"></ion-icon> Información:
          </h3>
          <div class="fondo">
            <h4> Nombres:
              <a style="float: right;" (click)="openNombreModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{nombre}}</p>
          </div>
          <div class="fondo">
            <h4> Apellidos:
              <a style="float: right;" (click)="openApellidoModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{apellido}}</p>
          </div>
          <div class="fondo">
            <h4> Codigo Único:
              <a style="float: right;" (click)="openCodigoUnicoModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
            <p id="fontNival-p">{{codigoUnico}}</p>
          </div>
          <div class="fondo">
            <h4> Contraseña:
              <a style="float: right;" (click)="openPasswordModal()">
                <ion-icon class="fa-nival" style="font-size: 20px;" name="create-outline"></ion-icon>
              </a>
            </h4>
          </div>
          <br>
          <div class="fondo">
            <h4> Eliminar Cuenta
              <a style="float: right;" (click)="openDeleteModal()">
                <ion-icon class="fa-nival" color="red" name="trash-outline"></ion-icon>
              </a>
            </h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #barra>
  <div class="spinnerA">
    <ion-spinner color="info" icon="spiral"></ion-spinner>
  </div>
</ng-template>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>