<!--Copiar solo la línea dos-->
<form [formGroup]="nombreForm" (ngSubmit)="onClick()">
  <h2 mat-dialog-title class="pb-1">Información:</h2>
  <div *ngIf="validate else login">
  </div>
  <mat-form-field hintLabel='{{mensaje}}' appearance="standard" class="input-modal">
    <mat-label>Nombres</mat-label>
    <input matInput [type]="'text'" placeholder="{{placeholder}}" spellcheck="false" formControlName="name" spellcheck="false"
    autocomplete="off">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-4>
        <ion-button type="submit" expand="full" size="small" [disabled]="!nombreForm.valid" >
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-4>
        <ion-button (click)="eraser()" color="yellow" expand="full" size="small">
          <ion-icon name="backspace-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-4>
        <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ng-template #login>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>