<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3 class="font-weight-normal">
          <mat-icon class="fa-nival" matSuffix>list_alt</mat-icon> Reportes
        </h3>
        <hr class="hr-nival">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="example-container mat-elevation-z3">
          <table mat-table [dataSource]="dataSource" #table>
            <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" [ngSwitch]="disCol"
              matColumnDef="{{disCol}}">
              <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>

              <ng-container *ngSwitchCase="'Fila'">
                <td class="number" mat-cell *matCellDef="let element "> {{element[disCol]}}</td>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <td mat-cell *matCellDef="let element,let i = index;">
                  <button mat-button [ngStyle]="{'backgroundColor':getColor(element[disCol])}"
                    style="color: white; width: 100px; margin-left: 3px;"
                    (click)="onclick(element[disCol],element['Numero'],disCol)">{{element[disCol]}}</button>
                </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>