<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="validate else reeplace">
        <ion-grid>
            <ion-row class="ion-justify-content-center" *ngFor="let curso of materias">
                <ion-col col-12 col-sm-6 class="ion-align-self-center">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"
                                [ngStyle]="{'background-image':'url('+curso.data.photoProfesor+')'}"></div>
                            <mat-card-title>{{curso.data.materia}} - {{curso.data.aula}} </mat-card-title>
                            <mat-card-subtitle>
                                <a [routerLink]="['/profesor', curso.data.idProfesor]"
                                    style="text-decoration: none;">{{curso.data.profesor}}</a>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <a (click)="openPhoto(curso.data.photoCurso)">
                            <img class="text-center" mat-card-image [src]="curso.data.photoCurso" alt="Image Curso">
                        </a>
                        <ion-button expand="full" size="small" color="info">
                            <ion-icon name="send-sharp"></ion-icon>
                        </ion-button>
                    </mat-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
    </ion-toolbar>
</ion-footer>

<ng-template #reeplace>
    <div id="containerEmpty">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-img class="imageEmpty" [src]="'../../assets/icon/logoCompleto.PNG'" id="logo"></ion-img>
                <ion-label color="dark" class="ion-margin-top imageEmpty">Sin registros</ion-label>
            </ion-row>
        </ion-grid>
    </div>
</ng-template>