<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="validate else reeplace">
        <ion-grid>
            <ion-row class="ion-justify-content-center" *ngFor="let curso of materias">
                <ion-col col-12 col-sm-6 class="ion-align-self-center">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <img mat-card-avatar [src]='curso.photoProfesor' alt="perfil" fallimg="perfil">
                            <mat-card-title>{{curso.materia}} - {{curso.aula}} </mat-card-title>
                            <mat-card-subtitle>
                                <a [routerLink]="['/profesor', curso.idProfesor]"
                                    style="text-decoration: none;">{{curso.profesor}}</a>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <a (click)="openPhoto(curso.photoCurso)">
                            <img class="text-center" mat-card-image [src]="curso.photoCurso" alt="Image Curso"
                                fallimg="curso">
                        </a>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="full" size="small" color="info" (click)="openCurso(curso.idMateriaCurso)">
                                        <ion-icon name="reader-outline"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button expand="full" size="small" color="red" (click)="openEliminarCurso(curso.idMateriaCurso,curso.materia,curso.aula)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </mat-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
    </ion-toolbar>
</ion-footer>

<ng-template #reeplace>
    <div id="containerEmpty">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-img class="imageEmpty" [src]="'../../assets/icon/logoCompleto.PNG'" id="logo"></ion-img>
                <ion-label color="dark" class="ion-margin-top imageEmpty">Sin Registros</ion-label>
            </ion-row>
        </ion-grid>
    </div>
</ng-template>