<form [formGroup]="form" (ngSubmit)="onClick()">
  <h2 mat-dialog-title class="pb-1">Información:</h2>
  <div *ngIf="validate else login">
  </div>
  <mat-form-field hintLabel="Codigo único otorgado por la institución" appearance="standard" class="input-modal">
    <mat-label>Código Único</mat-label>
    <input matInput #codigoU [type]="'text'" autocomplete="off" maxlength="9" placeholder="{{placeholder}}"
      spellcheck="false" formControlName="code" spellcheck="false"
      oninput="if(this.value.length > this.maxLength) this.value=this.value.slice(0,this.maxLength);"
      (keypress)="IngresarSoloNumeros($event)">
      <mat-icon matSuffix (click)="eraser()">backspace</mat-icon>
    <mat-hint align="end">{{codigoU.value?.length || 0}}/9</mat-hint>
  </mat-form-field>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6>
        <ion-button type="submit" expand="full" size="small" [disabled]="!form.valid">
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-6>
        <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ng-template #login>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>