<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img [src]="'../../assets/icon/logoNival.PNG'" id="logo"></ion-img>
    </ion-row>
    <ion-row class="ion-margin-top">
      <div *ngIf="validate else login">
      </div>
    </ion-row>
    <ion-row class="ion-margin-top">
      <form [formGroup]="Form" (ngSubmit)="onReset()" class="input-modal">
        <p class="ion-text-center">Por favor ingrese su correo electrónico para restablecer su contraseña:</p>
        <mat-form-field appearance="standard" class="input-modal">
          <mat-label>Email</mat-label>
          <input matInput [type]="'email'" placeholder="Ej: pepito.perez@epn.edu.ec" spellcheck="false"
            formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <ion-button color="secondary" expand="block" class="ion-margin-top" size="small" [disabled]="!Form.valid"
          type="submit">Enviar</ion-button>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #login>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>