<form [formGroup]="passwordForm" (ngSubmit)="onClick()">
  <h2 mat-dialog-title class="pb-1">Información:</h2>
  <div *ngIf="validate else login">
  </div>

  <mat-form-field appearance="standard" class="input-modal">
    <mat-label>Contraseña Actual</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword" spellcheck="false"
      autocomplete="off" placeholder="**********">
    <a class="aNival" mat-icon-button matSuffix (click)="hide = !hide" [attr.arial-label]="'Hide password'"
      [attr.arial-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </a>
  </mat-form-field>

  <mat-form-field hintLabel='{{mensaje}}' appearance="standard" class="input-modal">
    <mat-label>Nueva Contraseña</mat-label>
    <input matInput #pass [type]="hide1 ? 'password' : 'text'" formControlName="newPassword" spellcheck="false"
      autocomplete="off" placeholder="**********">
    <mat-hint align="end">{{pass.value?.length || 0}}/6</mat-hint>
    <a class="aNival" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.arial-label]="'Hide password'"
      [attr.arial-pressed]="hide">
      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
    </a>
  </mat-form-field>

  <mat-form-field appearance="standard" class="input-modal">
    <mat-label>Repetir Contraseña</mat-label>
    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="rePassword" spellcheck="false"
      autocomplete="off" placeholder="**********">
    <mat-hint *ngIf="!validacionPass" style="color: red;">Las contraseñas no coinciden</mat-hint>
    <a class="aNival" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.arial-label]="'Hide password'"
      [attr.arial-pressed]="hide">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
    </a>
  </mat-form-field>



  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6>
        <ion-button type="submit" expand="full" size="small" [disabled]="!passwordForm.valid">
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-12 col-sm-6>
        <ion-button (click)=" dimissModal()" color="red" expand="full" size="small">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ng-template #login>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>