<ion-content class="ion-padding">
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-img [src]="'../../assets/icon/logoCompleto.PNG'" id="logo"></ion-img>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-button (click)="openModalLogin()" color="secondary" expand="block" size="small"><ion-icon name="log-in-sharp" class="ion-padding-end"></ion-icon>Iniciar Sesion</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="openModal()" color="secondary" expand="block" size="small"><ion-icon name="create" class="ion-padding-end"></ion-icon>Registrate</ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>